* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --- Slanted Blue Top Bar Logic --- */
.slant-left {
  clip-path: polygon(30px 0, 100% 0, 100% 100%, 0% 100%);
}

/* --- Navbar Blur Effect on Scroll --- */
.glass-nav {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

/* --- Dropdown Animation --- */
#mobile-menu {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

#mobile-menu.open {
  max-height: 400px;
  opacity: 1;
}

/* blog */
/* 2. Blue Breadcrumb Box (নিচের নীল বক্স যার ডান দিক বাঁকা) */
.breadcrumb-box {
  background-color: #0465CB;
  /* Dark Blue */
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}